.products{
    padding: 50px 20px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.result-search{
    padding: 120px 20px 0px;
}

.result-search h2 {
    color: #6e6e6e;
    align-items: start;
    justify-content: start;
}
.result-search h2 > span::first-letter{
    text-transform: uppercase;
    text-transform: capitalize;
}

span{
    margin-bottom: 20px;
    color: #000;
}

.itemsZero{
    font-size: medium;
    font-weight: bold;
}

@media (max-width: 700px) {
    .result-text{
        font-size: 20px;
        white-space: none;
    } 
    .result-search h2 {
        margin-top: 5%;
    }
}